<nav class="navbar navbar-light" style="background-color: #FF9F00;">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="../favicon.ico" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
      Triatlhon Dashboard
    </a>

    <div class="form-floating w-50">
      <select id="proofSelect" class="form-select" aria-label="Proof Select"
        (change)=changeSelection($event.target.value)>
        <option *ngFor="let proof of proofsName" [value]='proof'>
          {{ proof }}
        </option>
      </select>
      <label for="proofSelect">Select for a proof.</label>
    </div>

    <div class="justify-content-md-end" style="margin-right: 2.5rem;">
      <div class="row mb-2">
        <button type="button" class="btn btn-warning btn-sm" style="background-color: #FF6A00;" data-bs-toggle="modal"
          data-bs-target="#modalForm">Add
          Info</button>
      </div>
      <div class="row">

        <!-- <button class="btn btn-warning btn-sm" style="background-color: #FF6A00;" type="button"
          data-bs-toggle="collapse" data-bs-target="#navbarExternalContent" data-target="#navbarExternalContent"
          aria-controls="navbarExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          More Info
        </button> -->

      </div>
    </div>
  </div>
</nav>
<div class="collapse" id="navbarExternalContent">
  <div class="p-4 navbar-light" style="background-color: #FF9F00;">
    <small>Select more filters.</small>
  </div>
</div>

<div class="container-xxl mt-4">
  <!-- Start -->
  <div class="row">
    <div class="col mr-3">
      <!-- Kmeans -->
      <div class="card">
        <h5 class="card-title mt-2" style="margin-left: 0.5rem;">K-means</h5>
        <h6 class="card-subtitle mb-2 text-muted" style="margin-left: 0.5rem;">Total Time x Bike Time</h6>
        <canvas id="kmeansChart" class="primary mb-3"></canvas>
      </div>
    </div>
    <!-- Time -->
    <div class="col">

      <div class="row mb-3">
        <div class="col">
          <div class="card text-dark" style="background-color: rgba(241, 33, 18, 0.582);">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-white">Minimum Time</h6>
              <p class="card-text">{{ timeIndicator[0] }}</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-dark" style="background-color: rgba(202, 0, 0, 0.699);">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-white">Maximum Time</h6>
              <p class="card-text">{{ timeIndicator[2] }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <div class="card text-dark" style="background-color: rgba(255, 106, 0, 0.651);">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-white">Average Time</h6>
              <p class="card-text">{{ timeIndicator[1] }}</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-dark" style="background-color: rgba(255, 157, 0, 0.61);">
            <ng-container *ngIf="userData; else elseTemplate">
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-white">Your Time and Position</h6>
                <p class="card-text"> {{ secondToTime(userData?.totalTime) }} | {{ userDataPosition }} place </p>
              </div>
            </ng-container>
            <ng-template #elseTemplate>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-white">Your Time and Position</h6>
                <p class="card-text"> add your info. </p>
              </div>
            </ng-template>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <div class="card text-dark" style="background-color: rgba(153, 153, 153, 0.699);">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-white">Champion Metrics</h6>
              <div class="d-flex flex-row mb-3">
                <div class="flex-fill">
                  Swim: {{ secondToTime(championInfo?.swim) }} <br>
                  T1: {{ secondToTime(championInfo?.t1) }}
                </div>
                <div class="flex-fill">
                  Bike: {{ secondToTime(championInfo?.bike) }} <br>
                  T2: {{ secondToTime(championInfo?.t2) }}
                </div>
                <div class="flex-fill">
                  Run: {{ secondToTime(championInfo?.run) }} <br>
                  Total Time: {{ secondToTime(championInfo?.totalTime) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mid -->
  <div class="row mt-3">

    <div class="col">
      <!-- Swim Histogram -->
      <div class="card mb-4">
        <h6 class="card-title mt-2" style="margin-left: 2rem;">Swim Histogram</h6>
        <div class="card-body">
          <canvas id="histoSwimChart" class="secondary"></canvas>
        </div>
      </div>

      <!-- Bike Histogram -->
      <div class="card mb-4">
        <h6 class="card-title mt-2" style="margin-left: 2rem;">Bike Histogram</h6>
        <div class="card-body">
          <canvas id="histoBikeChart" class="secondary"></canvas>
        </div>
      </div>
    </div>

    <div class="col">
      <!-- Total by Swim  -->
      <div class="card mb-4">
        <h6 class="card-title mt-2" style="margin-left: 2rem;">Total x Swim Time</h6>
        <div class="card-body">
          <canvas id="totalSwimChart" class="secondary"></canvas>
        </div>
      </div>

      <!-- Total by Bike  -->
      <div class="card mb-4">
        <h6 class="card-title mt-2" style="margin-left: 2rem;">Total x Bike Time</h6>
        <div class="card-body">
          <canvas id="totalBikeChart" class="secondary"></canvas>
        </div>
      </div>
    </div>

    <div class="col-6">
      <!-- Table -->
      <div class="card">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Difference of Start</th>
              <th scope="col">End Time</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let record of top10; let i=index">
              <th scope="row">{{i + 1}}</th>
              <td>{{ record.name }}</td>
              <td [innerHTML]="upDownDiff(record.startPosition, i+i)"></td>
              <td>{{ secondToTime(record.totalTime) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- End -->
  <div class="row mt-3">
    <div class="col">
      <!-- Run Histogram -->
      <div class="card mb-4">
        <h6 class="card-title mt-2" style="margin-left: 2rem;">Run Histogram</h6>
        <div class="card-body">
          <canvas id="histoRunChart" class="secondary"></canvas>
        </div>
      </div>
    </div>

    <div class="col">
      <!-- Total by Run  -->
      <div class="card mb-4">
        <h6 class="card-title mt-2" style="margin-left: 2rem;">Total x Run Time</h6>
        <div class="card-body">
          <canvas id="totalRunChart" class="secondary"></canvas>
        </div>
      </div>
    </div>

    <div class="col"></div>

    <div class="col"></div>

  </div>
</div>


<!-- Modal Form -->
<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form [formGroup]="form" (ngSubmit)="submit()">

        <!-- Header -->

        <div class="modal-header">
          <h4 class="modal-title" id="modalLabel">Athlete Information</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- Body -->
        <div class="modal-body container">


          <label for="name" class="form-label">Name</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" formControlName="name" id="name" aria-describedby="basic-addon3">
          </div>


          <label for="age" class="form-label">Age</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" formControlName="age" id="age" aria-describedby="basic-addon3">
          </div>


          <label class="form-label">Sex</label>
          <br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sex" id="male" checked>
            <label class="form-check-label" for="male">
              Male
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sex" id="female">
            <label class="form-check-label" for="female">
              Female
            </label>
          </div>
          <br>

          <label for="country" class="form-label mt-3">Country</label>
          <select id="country" formControlName="country" class="form-select mb-3" aria-label="Country Select">
            <option *ngFor="let country of _countries" [value]='country.code'>
              {{ country.name }}
            </option>
          </select>

          <div class="row">
            <div class="col">
              <label for="swim" class="form-label">Swim Time</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control" formControlName="swim" id="swim" aria-describedby="swim-time" mask="99:99:99">
              </div>
            </div>
            <div class="col">
              <label for="bike" class="form-label">Bike Time</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control" formControlName="bike" id="bike" aria-describedby="bike-time" mask="99:99:99">
              </div>
            </div>
            <div class="col">
              <label for="run" class="form-label">Run Time</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control" formControlName="run" id="run" aria-describedby="run-time" mask="99:99:99">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="t1" class="form-label">T1</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control" formControlName="t1" id="t1" aria-describedby="t1-time" mask="99:99:99">
              </div>
            </div>
            <div class="col">
              <label for="t2" class="form-label">T2</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control" formControlName="t2" id="t2" aria-describedby="t2-time" mask="99:99:99">
              </div>
            </div>
          </div>


        </div>

        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>

    </div>
  </div>
</div>