<nav class="navbar navbar-light" style="background-color: #FF9F00;">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="../favicon.ico" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
      Triatlhon Dashboard
    </a>

    <div class="form-floating w-50">
      <select id="proofSelect" class="form-select" aria-label="Proof Select"
        (change)=changeSelection($event.target.value)>
        <option *ngFor="let proof of proofsName" [value]='proof'>
          {{ proof }}
        </option>
      </select>
      <label for="proofSelect">Select for a proof.</label>
    </div>

    <div class="justify-content-md-end" style="margin-right: 2.5rem;">
      <div class="row mb-2">
        <button type="button" class="btn btn-warning btn-sm" style="background-color: #FF6A00;" data-bs-toggle="modal"
          data-bs-target="#modalForm">Add
          Info</button>
      </div>
      <div class="row">

        <button class="btn btn-warning btn-sm" style="background-color: #FF6A00;" type="button"
          data-bs-toggle="collapse" data-bs-target="#navbarExternalContent" data-target="#navbarExternalContent"
          aria-controls="navbarExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          More Info
        </button>

        <!-- <button class="btn btn-warning btn-sm" style="background-color: #FF6A00;" type="button" data-toggle="collapse"
          data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          More Info
        </button> -->

      </div>
    </div>
  </div>
</nav>

<div class="collapse" id="navbarExternalContent">
  <div class="p-4 navbar-light" style="background-color: #FF9F00;">
    <small>Select more filters.</small>
  </div>
</div>

<!-- Modal Form -->
<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form [formGroup]="form" (ngSubmit)="submit()">

        <!-- Header -->

        <div class="modal-header">
          <h4 class="modal-title" id="modalLabel">Athlete Information</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- Body -->
        <div class="modal-body container">


          <label for="name" class="form-label">Name</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="name" aria-describedby="basic-addon3">
          </div>


          <label for="age" class="form-label">Age</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="age" aria-describedby="basic-addon3">
          </div>


          <label class="form-label">Sex</label>
          <br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sexRadio" id="male" checked>
            <label class="form-check-label" for="male">
              Male
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sexRadio" id="female">
            <label class="form-check-label" for="female">
              Female
            </label>
          </div>
          <br>

          <label for="country" class="form-label mt-3">Country</label>
          <select class="form-select mb-3" aria-label="Country" id="country">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>

          <div class="row">
            <div class="col">
              <label for="swim" class="form-label">Swim Time</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control" id="swim" aria-describedby="basic-addon3">
              </div>
            </div>
            <div class="col">
              <label for="bike" class="form-label">Bike Time</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control" id="bike" aria-describedby="basic-addon3">
              </div>
            </div>
            <div class="col">
              <label for="run" class="form-label">Run Time</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control" id="run" aria-describedby="basic-addon3">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="t1" class="form-label">T1</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control" id="t1" aria-describedby="basic-addon3">
              </div>
            </div>
            <div class="col">
              <label for="t2" class="form-label">T2</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control" id="t2" aria-describedby="basic-addon3">
              </div>
            </div>
          </div>


        </div>

        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>

    </div>
  </div>
</div>